<div class="row">
<div data-ng-repeat="multiOpt in main.options.multiple">
  <div class="multiple-option option col s6 m4 l4">
    <h5>{{multiOpt.displayName | uppercase}}</h5>
    <div data-ng-repeat="subOption in multiOpt.subOptions track by $index">
      <div class="option-container">
        <input 
           data-ng-click="main.refilterCharacters()" 
           data-ng-value="{{subOption.value}}"
           ng-model='multiOpt.curValue'
           ng-attr-name="multiOpt.name" 
           id="{{multiOpt.name + $index}}"
           type="radio">
        <label for="{{multiOpt.name + $index}}">
          {{subOption.displayName}}
        </label>
      </div>
    </div>
  </div>
</div>
</div>


<div class="row">
  <div data-ng-repeat="rangeOpt in main.options.range">
    <div class="range-option option col s12 m12 l12">
      <h5>{{rangeOpt.displayName | uppercase}}</h5>
      <input type="hidden" class="range-slider" data-slider="rangeOpt">
    </div>
  </div>
  <br>
</div>
</div>
